<html>
<head><title>Calculo matriz</title></head>
<body>
<form action="/calculo/matriz/" method="get">
<ul>

    <li>Elementos: <input type="text" name="elementos"></li>
    <li>Nodos: <input type="text" name="nodos"</li>
</ul>
    <input type="submit" value="aceptar">
</form>
<h2> Matriz A </h2>
<ol>
    {% for numero in matriza %}
    Fila numero :    <li>{{numero}}</li>
    {% endfor %}
</ol>
<h2> Matriz B </h2>
<ul>
    {% for numero in matrizb %}
        <li>{{numero}}</li>
    {% endfor %}
</ul>

<h3>Solución del sistema de ecuaciones:</h3>
<ul>
     {% for numero in resultado %}
        <li>{{numero}}</li>
     {% endfor %}
</ul>
</body>
</html>
